.menu ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}
.menu li{
  margin-left: 10px;
  margin-right: 10px;
}
.menu a{
  text-decoration: none;
  color: #868686;
  font-size: 1.0rem;
  cursor: pointer;
}
.menu a:hover{
  color: #f4f4f2;
  transition-duration: 1s;
  font-size: 1.3rem;

}