*{
  box-sizing: border-box;
  scroll-behavior: smooth;  
}
:target {
  scroll-margin-top: 60px;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  background: #cbcbcb;
  background: linear-gradient(90deg,#cbcbcb 0%, #6a6a6a 80%);
  background: -webkit-linear-gradient(90deg,#cbcbcb 0%, #6a6a6a 80%);
  background: -moz-linear-gradient(90deg,#cbcbcb 0%, #6a6a6a 80%);  
}