*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 60px;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  background: #d7d7d7;
  background: -webkit-linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
  background: linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
  
}